// Heading Color
$heading: #111111;

// Text Color
$text: #aaaaaa;

// Secondary Color
$secondary: #dddddd;

// Primary Color
$primary: #e62b1e;

// Hover Color
$hover: #e62b1e;

// White Color
$white: #ffffff;

// Dark Color
$dark: #111111;

// Text Dark
$text-dark: #161715;

// Text-2 Color
$text-2: #dddddd;

// Text-3 Color
$text-3: #111111;

// Text-3 Color
$text-4: #aaaaaa;

// Text Gray
$text-gray: #625b66;

// Blue Background
$bg-blue:#111111;

// Blue Background
$bg-blue-2:#222222;

// Gray Background
$bg-gray: #f7f7f7;

// Dark-2 Color
$dark-2: #5f608e;

// Dark 2 Color
$dark2: #0e2737;

// Border Color
$border: #4b4d7b;

// Border-2 Color
$border-2: #aaaaaa;

// Border-2 Color
$border-3: #aaaaaa;

// Border-4 Color
$border-4: #4d507d;

// Border-5 Color
$border-5: #3d3e66;

// Border-6 Color
$border-6: #bbbbbb;

// Border-7 Color
$border-7: #dbdcf1;